node_modules
**/.DS_Store
**/*.aux
**/*.el
**/*.bbl
**/*.blg
**/*.fls
**/*.fdb_latexmk
**/*.log
**/*.out
**/*.bcf
**/*.run.xml
**/*.synctex.gz
**/.auctex-auto
**/.Rhistory

.Rhistory
.RData
.Rproj
.idea
